.info{
  width: 1000px;
  margin: 0 auto;
  text-align:left;
  background-color :#FFFFFF;
}
body{
  background-color :#606dcd;
}
.head{
  width: 1000px;
  margin: 0 auto;
  text-align:senter;
  background-color :#FFFFFF;
}
